@import url("https://fonts.googleapis.com/css2?family=Inria+Serif:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Inter:wght@100..900&display=swap&family=Cairo:wght@200..1000&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html {
  overflow-x: hidden;
}

body {
  font-family: "Inter", sans-serif;
  background: #EFE2D9;
  overflow-x: hidden;
  width: 100%;
  max-width: 100vw;
}

@layer components {
  .max-container {
    max-width: 1240px;
    margin: 0 auto;
  }
  .hero-height {
    height: calc(100vh - 50px);
  }
  .border-thin-bottom { 
    border-bottom: 1px solid rgba(128, 128, 128, 0.44);
  }

  .section-spacing {
    margin : 10rem 0;
  }

  @keyframes floating {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-20px);
    }
    100% {
      transform: translateY(0);
    }
  }
  
  .floating {
    animation: floating 3s ease-in-out infinite;
  }
  
}

@layer utilities {
  .padding-y {
    @apply py-16;
  }
  .padding-x {
    @apply px-5 md:px-16 lg:px-20;
  }
  .margin-x {
    @apply mx-2 md:mx-16 lg:mx-20;
  }
}
